# Ignore node_modules in client folder
/client/node_modules/

# Ignore node_modules in server folder
/server/node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build directories
/client/build/
/server/build/

# Ignore coverage directory
/coverage/

# Ignore temporary files
/tmp
